input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
	border: 1px solid;
}