@charset "utf-8";

/* CSS Document */
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Light.ttf');
    src: url('FileName.eot?#iefix') format('embedded-opentype'), url('FileName.woff') format('woff'), url('../font/Roboto-Light.ttf') format('truetype'), url('FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}

article .articleColor {
    margin-right: 20px;
    width: 95%;
}

#hidden_button {
    width: 70px;
    height: 70px;
    color: white;
    background-image: URL(../Images/top-512.png);
    background-size: cover;
    border-radius: 100%;
    position: fixed;
    right: 3%;
    bottom: 20px;
    opacity: 0.5;
    z-index: 2;
    font-weight: bolder;
    font-size: 36px;
    display: none;
}

#hidden_button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#mySidenav {
    z-index: 2;
    position: fixed;
    top: 300px;
}

#mySidenav a {
    position: absolute;
    left: -270px;
    transition: 0.3s;
    padding: 15px;
    width: 300px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: 'Roboto';
}

#mySidenav a:hover {
    left: 0;
}

#about:hover {
    left: 0;
}

#about {
    width: 300px;
    height: 58px;
    top: 20px;
    background-color: white;
    position: absolute;
    left: -240px;
    transition: 0.3s;
    width: 300px;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#blog {
    top: 80px;
    background-color: rgba(255, 0, 0, 0.2);
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive;
}

#product {
    top: 140px;
    background-color: rgba(255, 0, 0, 0.4);
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive;
}

#contact {
    top: 200px;
    background-color: rgba(255, 0, 0, 0.6);
    font-weight: bolder;
    font-family: "Comic Sans MS", cursive;
}

/*////////////////////////////////////////////////////*/
#search_box {
    width: 230px;
    height: 50px;
    float: left;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 0px;
    border: 1px solid grey;
    font-size: 18px;
}

#button_sidenav {
    width: 50px;
    float: left;
    height: 50px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../Images/google-web-search-256.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    left: 235px;
    border-radius: 15%;
    cursor: pointer;
}

#body_left_side {
    width:
}

/*//////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////*/

article .product {
    width: 95%;
}

/*//////////////////////////////////////////////////*/
#show_model {
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    background-color: rgba(255, 0, 0, 0.2);
}

#items_demo li {
    list-style-type: none;
    float: left;
    width: 16%;
    margin-top: 20px;
    text-align: center;
}

.img_item {
    width: 150px;
    height: 150px;
}

.title_img {
    color: grey;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
}
.img_item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.6s;
}

.title_img:hover {
    color: red;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
}

#quaTang_kem {
    height: 300px;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("https://hoayeuthuong.com/images/bg-special.png");
    padding: 10px;
}

#quaTang_kem h2 {
    margin-top: 20px;
}

.sub_quatangkem {
    width: 31%;
    height: 60%;
    background-color: rgba(204, 204, 204, 1);
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

.sub_quatangkem>img {
    width: 45%;
    height: 100%;
    float: left;
}

.sub_quatangkem>p {
    width: 49%;
    float: left;
    font-size: 18px;
    margin-left: 3px;
    font-weight: bolder;
}

.sub_quatangkem>a {
    text-decoration: none;
    width: 49%;
    float: left;
    font-size: 18px;
    text-align: right;
}

.khuyenmai_demo {
    width: 100%;
    height: auto;/* background-color: rgba(255, 0, 0, 0.4); */
    float: left;
    margin-top: 15px;
}

.sub_km_demo {
    width: 23%;
    height: 80%;
    background-color: rgba(204, 204, 204, 1);
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 102, 0, 1);
    border-radius: 40px;
    transition: 0.2s;
}

.sub_km_demo:hover {
    box-shadow: 1px 1px 25px rgba(244, 87, 74, 0.8);
}

.img_suv_km {
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 40px;
    float: left;
}

.img_suv_km img {
    border-radius: 40px;
}

.price_km {
    width: 100%;
    height: 25%;
    background-color: rgba(204, 204, 204, 1);
    float: left;
    border-radius: 40px;
}

.img_suv_km>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.price_km p {
    font-size: 18px;
    width: 100%;
    float: left;
    text-align: center;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.price_km span {
    font-size: 18px;
    width: 100%;
    float: left;
    text-align: center;
    color: red;
    margin-top: 0px;
    font-weight: bolder;
}

#giohang_button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    background-image: url(../Images/giohang_img.jpg);
    background-size: cover;
    right: 3%;
    bottom: 11%;
    z-index: 2;
    cursor: pointer;
}

#giohang_button:hover {
    transform: scale(1.1);
}
#giohang_button a{
    display: inline-block;
    width: 70px;
    height: 70px;
}

.body_td {
    width: 34%;
    height: 385px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3px;
    background-color: rgba(255, 0, 0, 0.6);
    float: left;
    border-radius: 10px;
}

.body_td p {
    font-size: 25px;
    width: 100%;
    float: left;
    text-align: center;
}

#join_us {
    width: 30%;
    height: 385px;
    background-color: rgba(255, 0, 0, 0.6);
    float: left;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3px;
}

#join_us input {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 120%;
    left: 45%;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.4);
    cursor: pointer;
}